{% extends "monitoringapp/base/basepassword.html"  %}


{% block content %}
 <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header">Forgot Password | {{ user.first_name }} {{user.last_name}}</h2>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->

                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{message}} 
                    </div>                                
                    {% endfor %}
                    </ul>
                {% endif %}         

        <div class="panel-body">
            <div class="row">
               <div class="col-lg-4">
                    <form method="post">
                        {% csrf_token %}

                        

                        <div class="form-group">
                                <label>{{ form.email_or_username.label_tag }}</label>
                                {{ form.email_or_username.errors }}
                                <input type="text" class="form-control" name="email_or_username">
                                
                        </div>        
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}