{% extends "monitoringapp/base/base-customer.html"  %}

{% include "monitoringapp/top/nav-top-customer.html"  %}

{% block content %}

    <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header">Change Password | {{ user.first_name }} {{user.last_name}}</h2>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->

                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{message}} 
                    </div>                                
                    {% endfor %}
                    </ul>
                {% endif %}         

        <div class="panel-body">
            <div class="row">
               <div class="col-lg-4">
                    <form method="post">
                        {% csrf_token %}

                         <div class="form-group">
                                <label>{{ form.old_password.label_tag }}</label>
                                {{ form.old_password.errors }}
                                <input type="password" class="form-control" name="old_password">
                        </div>

                        <div class="form-group">
                                <label>{{ form.new_password1.label_tag }}</label>
                                {{ form.new_password1.errors }}
                                <input type="password" class="form-control" name="new_password1">
                                <p class="help-block">Your password can&#39;t be too similar to your other personal information. Your password must contain at least 8 characters. Your password can&#39;t be a commonly used password. Your password can&#39;t be entirely numeric.</p>
                        </div>
                         <div class="form-group">
                                <label>{{ form.new_password2.label_tag }}</label>
                                {{ form.new_password2.errors }}
                                <input type="password" class="form-control" name="new_password2">
                        </div>        
                        <button type="submit" class="btn btn-primary">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}