{% load i18n %}{% autoescape off %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
    {% block reset_link %}
         http://{{ domain }}{% url 'reset_password_confirm' uidb64=uid token=token %} 
        
    {% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} Vacker360

Kathmandu, Nepal

Email Disclaimers

Part of Vacker Global Group | 306, RKM Building | Hor Al Anz | Deira
PO Box 92438 | Dubai | UAE
Phone : (+971) 42 66 11 44 | Fax : (+971) 42 66 11 55

An ISO 9001:2015 & OSHAS 18001:2007 certified company{% endblocktrans %}

{% endautoescape %}